body{
    padding: 0px;
    margin: 0px;
    font-size: large;
    font-family: sans-serif;
}

div{
    border-radius: 4px;
}

header{
    position: relative;
    top: 0px;
    height: 76px;
    padding: 2px;
    margin: auto;
    margin-bottom: 10px;
    width: calc(100%-4px);
}

header img{
    height: 100%;
    float: left;
}

header h1{
    display: inline;
    vertical-align: top;
}

h2{
    display: inline;
    margin: auto;
}

header form{display: inline-block;}

header div{display: inline-block;}

#logo{
    position: absolute;
}

#logo img{
    height: 66px;
}

#heading{
    position: absolute;
    left: 180px;
}

#nav{
    position: absolute;
    left: 180px;
    bottom: 2px;
    margin-bottom: 10px;
}

h3{
    margin: 7px 0px 10px 0px;
}

#nav form{
    display: inline-block;
}

nav{
    display: inline-block;
}

#loginout{
    position: absolute;
    right: 10px;
}

#loginout img{
    float: right;
    height: 40px;
    border-radius: 20px;
    margin: 5px 0px 0px 10px;
}


main.index{
    margin: auto;
    width: 98%;
}

textarea{
    resize: vertical;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    width: calc(100% - 5px);
}


footer{
    width: 100%;
    overflow: overlay;
    margin-top: 5px;
}

.hidden{
    display: none;
}

input[type='number']{
    width: 50px;
}

button, input[type='submit']{
    border-radius: 4px;
    display: inline-block;
}

div.project_links{
    padding: 5px;
}

div.project_links img.thumbnail{
    width: 100px;
    display: inline-block;
}

div.project_link{
    display: block;
    width: 100%;
    position: relative;
    margin: 5px 0px;
}

div.project_link div{
    display:inline-block;
    vertical-align: top;
    margin: 5px;
}

div.project_link button.delete{
    display: none;
    float: right;
}

div.project_link:hover > button.delete{
    display: inline;
}

button.new{
    height: 30px;
    width: 100px;
}

form{
    display: inline-block;
}