#titlebar{
    height: 70px;
    background-color: #3c3c3c;
    padding: 2px;
    position: relative;
}

#titlebar h1{
   color: #eee;
   margin: 5px 0px;
}

div.centered{
    margin: auto;
}

#title_form input[type='text']{
    font-size: 24px;
}

#title{
   display: inline-block; 
   margin-left: 10px;
}

#title_form, #description_form, #tags_form, #authors_form{
    display: none;
}

#titlebar img.thumbnail{
    position: absolute;
    top: 5%;
    right: 5px;
    height: 90%;
}

#thumbnail_button{
    display: none;
}

img.thumbnail:hover + #thumbnail_button{
    display: block;
}

#thumbnail_button:hover{
    display: block;
}

main.project{
    margin: auto;
    width: 98%;
}


div.container{
    position: relative;
    margin: 5px 0px;
    background-color: #bbb;
}

div.left{
    width:66%;
    height: 100%;
    display: block;
    margin: 0px 0.5%;
    padding: 2px;
}

div.right{
    width:32%;
    height: 99%;
    position: absolute;
    display: block;
    top: 0.5%;
    right: 0px;
    bottom: 5px;
    margin: 0px 0.5%;
    
    overflow-y: overlay;
    
    background-color: #228c2e;
}

div.right h3,div.right div{
    margin: 0px 10px 3px 3px;
}

div.content{
    padding: 0px;
    overflow: hidden;
    width: 100%;
    margin: 5px 0px;
    /*--left-width: 960;*/
}

iframe{
    width: 960px;
    height: 643px;
    transform-origin: 0 0;
    border: none;
    overflow: hidden;
    position: relative;
}

img.content{
    width: 100%;
}

div.right div{
    padding: 5px;
}

#description{
    white-space: pre-line;
}

div.row{
    background-color: #2aad3a;
    margin: 4px 0px;
    height: 32px;
}

div.row form{
    display: none;
    float: right;
}

div.row:hover > form{
    display: inline;
}

div.user_access .buttons{
    display: none;
    float: right;
}

div.user_access:hover .buttons{
    display: inline;
}

#comments_section{
    padding: 5px;
    margin: 5px 0px;
    width: 82%;
    background-color: #2aad3a;
    position: relative;
}

div.comment_options{
    position: relative;
    height: 20px;
}

#new_comment{
    background-color: white;
}

#comments_section button.submit{
    position: absolute;
    right: 0px;
}

div.comment{
    background-color: #bbb;
    margin: 8px;
    padding: 2px;
}

div.comment p{
    white-space: pre-line;
    margin: 2px 0px 2px 0px;
    background-color: #aaa;
}

div.comment div{
    height: 34px;
}

div.comment div strong{
    position: relative;
    top: 10px;
}

div.comment img{
    float: left;
    height: 32px;
    border-radius: 16px;
    margin: 1px 5px 0px 1px;
}

div.comment span{
    float: right;
    margin-right: 7px;
}

div.comment button.delete{
    float: right;
}

div.popup{
    display: none;
    position: fixed;
    padding: 10px;
    left: 15%;
    top: 10%;
    bottom: 10%;
    right: 15%;
    background-color: rgb(187 187 187 / 0.9);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 100;
}

div.popup > div{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: overlay;
}

#tags p{
    margin: 0px 0px 3px 0px;
}

div.user_access{
    position: relative;
    background-color: #aaa;
    height: 30px;
    margin: 6px 0px;
    width: calc(100% - 20px);
}

div.user_access img{
    float: left;
    height: 28px;
    border-radius: 14px;
    margin: 1px 5px 0px 1px;
}

div.user_access form{
    position: absolute;
    right: 3px;
    top: 3px;
}

div.popup button.cancel{
    float: right;
    margin-right: 20px;
}