#titlebar{
    height: 70px;
    padding: 2px;
    position: relative;
}

#titlebar h1{
   margin: 5px 0px;
}

div.centered{
    margin: auto;
}

#title_form input[type='text']{
    font-size: 24px;
}

#title{
   display: inline-block; 
   margin-left: 10px;
}

#title_form, #description_form, #tags_form, #authors_form{
    display: none;
}

#titlebar img.thumbnail{
    position: absolute;
    top: 5%;
    right: 5px;
    height: 90%;
}

#thumbnail_button{
    display: none;
}

img.thumbnail:hover + #thumbnail_button{
    display: block;
}

#thumbnail_button:hover{
    display: block;
}

main.project{
    margin: auto;
    width: 98%;
}


div.container{
    position: relative;
    margin: 5px 0px;
}

div.left{
    width:66%;
    height: 100%;
    display: block;
    margin: 0px 0.5%;
    padding: 2px;
}

div.right{
    width:32%;
    height: 99%;
    position: absolute;
    display: block;
    top: 0.5%;
    right: 0px;
    bottom: 5px;
    margin: 0px 0.5%;
    
    overflow-y: overlay;
}

div.right h3,div.right div{
    margin: 0px 10px 3px 3px;
}

div.content{
    padding: 0px;
    overflow: hidden;
    width: 100%;
    margin: 5px 0px;
    /*--left-width: 960;*/
}

iframe{
    width: 960px;
    height: 643px;
    transform-origin: 0 0;
    border: none;
    overflow: hidden;
    position: relative;
}

img.content{
    width: 100%;
}

div.right div{
    padding: 5px;
}

#description{
    white-space: pre-line;
}

#tags p{
    margin: 0px 0px 3px 0px;
}

div.row{
    margin: 4px 0px;
    padding: 5px;
    position: relative;
}

div.row span{
    vertical-align: top;
}

div.row div.buttons{
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

div.row > form{
    position: absolute;
    right: 5px;
    top: 5px;
}

div.row:hover div.buttons{
    display: inline;
}

div.row img{
    display: inline-block;
    height: 28px;
    border-radius: 14px;
    margin: 1px 5px 0px 1px;
}

#comments_section{
    padding: 5px;
    margin: 5px 0px;
    width: 82%;
    position: relative;
}

div.comment_options{
    position: relative;
    height: 20px;
}

#comments_section button.submit{
    position: absolute;
    right: 0px;
}

div.comment{
    margin: 8px;
    padding: 8px;
}

div.comment p{
    white-space: pre-line;
    margin: 2px;
    padding: 2px;
}

div.comment div{
    height: 34px;
}

div.comment div strong{
    position: relative;
    top: 10px;
}

div.comment img{
    float: left;
    height: 32px;
    border-radius: 16px;
    margin: 1px 5px 0px 1px;
}

div.comment span{
    float: right;
    margin-right: 7px;
}

div.comment button.delete{
    float: right;
}

div.popup{
    display: none;
    position: fixed;
    padding: 10px;
    left: 15%;
    top: 10%;
    bottom: 10%;
    right: 15%;
    border: 2px solid;
    border-radius: 10px;
    z-index: 100;
}

#thumbnail_popup{
    top: 40%;
    bottom: 40%;
}

div.popup_container{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: overlay;
    z-index: 101;
}

div.popup > button.cancel{
    float: right;
    margin-right: 20px;
}

div.popup > div > button.cancel{
    float: right;
    margin-right: 20px;
}

div.cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    z-index: 99;
}