iframe{
    width: 100%;
    height: 650px;
}

body{
    background-color: salmon;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: purple;
    /*position: sticky;*/
    top: 0px;
    /*z-index: 10;*/
}

.titlebar{
    height: 70px;
    background-color: grey;
    padding: 2px;
}

.titlebar img{
    height: 100%;
}

.titlebar h1{
    display: inline;
    margin: auto;
}

.titlebar div{
    display: inline-block;
}

header .nav{
    display: none;
}

header:hover .nav{
    display: block;
}

.loginout{
    float: right;
}

.nav{
    background-color: green;
}

.projecttitle{
    width:100%;
    background-color: violet;
}

.container{
    position: relative;
}

.left{
    width:67%;
    height: 100%;
    margin:0px;
    left: 0px;
    background-color: red;
    padding: 2px;
}

.right{
    width:32%;
    height: 100%;
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    margin: 0px;
    background-color: blue;
    padding: 2px;
}

.right h3{
    margin: 0px 0px 3px 0px;
}

div.content{
    background-color: cornflowerblue;
    padding: 5px;
}

img.content{
    width: 100%;
}

.right div{
    background-color: pink;
    padding: 5px;
}

.description p{
    white-space: pre-line;
}

.comments{
    padding: 5px;
    background-color: teal;
}

footer{
    background-color: lightGreen;
}

.popup{
    display: none;
    position: fixed;
    padding: 10px;
    left: 25%;
    top: 10%;
    bottom: 10%;
    right: 25%;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
}

.tags p{
    margin: 0px 0px 3px 0px;
}

/*
.divtable{
    width: 100%;
}

.filesystem{
    display: inline-block;
    float: left;
    width: 100%;
}

.userlist{
    display: inline-block;
    float: right;
}*/
