iframe{
    width: 100%;
    height: 300px;
}

body{
    background-color: salmon;
}

nav{
    background-color: green;
}

.divtable{
    width: 100%;
}

.filesystem{
    display: inline-block;
    float: left;
    width: 100%;
}

.userlist{
    display: inline-block;
    float: right;
}
