<!doctype html>

<head>
	<meta charset='UTF-8'>
	<title>{% block title %}Title{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/base.css">
    <link rel="icon" href="/static/images/icon.png">
    {% block head %}

    {% endblock %}
</head>

<body onresize='{% block resize %}{% endblock %}'>
    {% block header %}
    <header>
        <div id="logo">
            <a href='{{url_for("index")}}'><img src="/static/images/home.png"></img></a>
        </div>
        <div id="heading">
            <h1>Game Design Showcase</h1><br>
        </div>
        <div id="nav">
        {% block navbar %}
        <nav>
            <a href='{{url_for("index")}}'>Home</a>
            {% if is_logged_in %}
            | <a href='{{url_for("dashboard")}}'>Your Dash</a>
            {% endif %} |
            
        </nav>
        <form method='GET' action='/search'>
            <input type='text' name='search'><input type='submit' value='Search'>
        </form>
        {% endblock %}
        </div>
        <div id='loginout'>
            {% if is_logged_in %}
            Logged in as <strong>{{user.name}}</strong>. <img src='{{user.profile_pic_url}}'></img><br>
            <a href='{{url_for("logout")}}'>Logout</a>
            {% else %}
            Not logged in.<br>
            <a href='{{url_for("login")}}'>Login</a>
            {% endif %}
        </div>
    </header>
    {% endblock %}
	
	<main class='{% block main_class %}{% endblock %}'>
        {% block main %}
        {% endblock %}
	</main>
	
	{% block footer %}
	<footer>
        <p>Burnside High School 2020</p>
	</footer>
	{% endblock %}
</body>
