<!doctype html>

<head>
	<meta charset='UTF-8'>
</head>

<body>
	{% block navbar %}
	<nav>
        <div class='navigation'>
            <p>
            <a href='{{url_for("index")}}'>Home</a>
            {% if is_logged_in %}
            | <a href='{{url_for("dashboard")}}'>Your Dash</a>
            {% endif %}
        </div>
        <div class='loginout'>
            {% if is_logged_in %}
            <p>Logged in as <strong>{{username}}</strong>.</p>
            <p><a href='{{url_for("logout")}}'>Logout</a>
            {% else %}
            <p>Not logged in.</p>
            <p><a href='{{url_for("login")}}'>Login</a> or <a href='{{url_for("register")}}'>Register</a></p>
            {% endif %}
        </div>
	</nav>
	{% endblock %}
	{% block content %}
	{% endblock %}
	{% block footer %}
	{% endblock %}
</body>
