{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    {% if projects_owned | length > 0 %}   
        <h3>Your Projects</h3>
    {% endif %}
    <div class='project_links'>
    {% for project in projects_owned %}
        <div class='project_link'>
            <div>
                <a href='{{project.route()}}'><img class='thumbnail' src='{{project.thumbnail_route()}}'></img></a>
            </div>
            <div>
                <a href='{{project.route()}}'><h3>{{project.name}}</h3></a>
                <span>{{project.get_description()[:500]}}</span>
            </div>
        </div>
    {% endfor %}
    <a href='{{url_for("newProject")}}'><button class='new'><strong>New Project</strong></button></a>
    </div>
    {% if projects_shared | length > 0 %}
        <h3>Projects Shared With You</h3>
    {% endif %}
    <div class='project_links'>
    {% for project in projects_shared %}
        <div class='project_link'>
            <div>
                <a href='{{project.route()}}'><img class='thumbnail' src='{{project.thumbnail_route()}}'></img></a>
            </div>
            <div>
                <a href='{{project.route()}}'><h3>{{project.name}}</h3></a>
                <span>{{project.get_description()[:500]}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
