<!doctype html>
{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block main_class %}index{% endblock %}
{% block main %}
    {% block list %}
    <div class='project_links'>
    {% for project in public_projects %}
    <div class='project_link'>
        <div>
            <a href='{{project.route()}}'>
                <img class='thumbnail' src='{{project.thumbnail_route()}}'></img>
            </a>
        </div><div>
            <a href='{{project.route()}}'><h3>{{project.name}}</h3></a>
            <span>{{project.get_description()[:500]}}</span>
        </div>
    </div>
    {% endfor %}
    </div>
    {% endblock %}
{% endblock %}

