{% extends "base.html" %}

{% block title %}{{project.name}}{% endblock %}

{% block head %}
<link rel='stylesheet' href='/static/css/project.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/project.js"></script>
{% endblock %}

{% block resize %}resizeContent(){% endblock %}

{% block main_class %}project{% endblock %}
{% block main %}
    <div id="titlebar">
        <div id="title_div">
            <h1 id="title">{{project.name}}</h1>
            {% if access_level >= access_from_string["CAN_EDIT"] %}
            <button onclick="show('title_form');hide('title_div');">Edit</button>
            </div>
            <div id='title_form'>
                <input id="title_input" type="text" name="title" value="{{project.name}}">
                <button class='submit' onclick="ajaxEditTitle('{{project.route()}}')">Change</button>
                <button class='cancel' onclick="show('title_div');hide('title_form')">Cancel</button>
            {% endif %}
        </div>
        
        <div id="thumbnail_div">
            <img id="thumbnail" class='thumbnail' src='{{project.thumbnail_route()}}'></img>
        {% if access_level >= access_from_string["CAN_EDIT"] %}
            <img class='thumbnail' id="thumbnail_button" src="/static/images/change_thumbnail.png" onclick="show('thumbnail_popup');"></img>
        </div>
        <div id="thumbnail_popup" class='popup'>
            <div class='cover' onclick="hide('thumbnail_popup')"></div>
            <div class='popup_container'>
                <button class='cancel' onclick="hide('thumbnail_popup')">X</button>
                <form id="thumbnail_form" method="POST" enctype="multipart/form-data" action="{{route}}/edit">
                    <input type="file" name="thumbnail" accept="image/png, image/jpeg,image/gif"><br>
                </form>
                <button class="submit" onclick='ajaxChangeThumbnail("{{route}}")'>Change</button>
            </div>
        {% endif %}
        </div>
        
    </div>
    
    
    <div class='container'>
    
        <div class='left' id='left'>
            <div id='content' class="content">
                {% block content %}
                {% endblock %}
            </div>
            {% if access_level >= access_from_string["CAN_EDIT"] %}
            <div id="upload_form_div" class="popup">
                <button class='cancel' onclick = "hide('upload_form_div')">X</button>
                <h3>Content</h3>
                <form id="upload_content_form" method='POST' enctype=multipart/form-data action='{{route}}/upload/content'>
                    <h4>WebGL Content</h4>
                    <select name='type' value='{{project.content_type}}' required>
                        <option value="game" selected>Game</option>
                    </select>
                    <input type='file' name='file' accept="application/zip" required>
                    <button type='button' class="submit" onclick="ajaxUploadContent()">Upload</button>
                </form>
                <form id="upload_download_form" method='POST' enctype=multipart/form-data action='{{route}}/upload/download'>
                    <h4>New Download</h4>
                    <input type='file' name='file' required>
                    <input type='text' name='filename' placeholder='File Name' title='Leave blank for original name'>
                    <button type='button' class="submit" onclick="ajaxUploadDownload()">Upload</button>
                </form>
                <button class='cancel' onclick = "hide('upload_form_div')">Cancel</button>
            </div>
            <button onclick="show('upload_form_div')">Upload Content</button>
            {% endif %}
            <h4>{% if download_info | length == 0 %}No Downloads{% else %}Downloads{% endif %}</h4>
            <div id="downloads">
            {% for filename, username, time in download_info%}
            <!--<div class='row'>
                <strong>{{filename}}</strong> - {{username}} - <i>{{time}}</i>
                <form method="POST">
                    <input type="hidden" name="filename" value='{{filename}}'>
                    <input type="submit" value="Download" formaction="/project/{{project.project_id}}/download">
                    {% if access_level >= access_from_string["CAN_EDIT"] %}
                    <input class='delete' type="submit" value="Delete" formaction="/project/{{project.project_id}}/deleteDownload">
                    {% endif %}
                </form>
            </div>-->
            {% include "ajax_responses/download.html" %}
            {% endfor %}
            </div>
            
        </div><div class='right'>
            <h3>Description:</h3>
            <div id="description_div">
                <p id="description">{{description}}</p>
                {% if access_level >= access_from_string["CAN_EDIT"] %}
                <button onclick="show('description_form');hide('description_div');">Edit</button>
            </div>
            <div id='description_form'>
                <textarea id="description_input" name="description" rows=10>{{description}}</textarea>
                <button class="submit" onclick="ajaxEditDescription('{{route}}')">Change</button>
                <button class='cancel' onclick="show('description_div');hide('description_form')">Cancel</button>
                {% endif %}
            </div>
            <h3>Tags:</h3>
            <div id='tags_div'>
                <div id="tags">
                    {% for tag in tags_list %}
                        <p>{{tag}}</p>
                    {% endfor %}
                    {% if access_level >= access_from_string["CAN_EDIT"] %}
                </div>
                <button id="tags_button" onclick="show('tags_form');hide('tags_div');">Edit</button>
            </div>
            <div id="tags_form">
                <input id="tags_input" type="text" name="tags" value="{{tags}}">
                <button class="submit" onclick="ajaxEditTags('{{route}}')">Change</button>
                <button class='cancel' onclick="show('tags_div');hide('tags_form')">Cancel</button>
                {% endif %}
            </div>
            <h3>Authors</h3>
            <div id="authors_div">
                <div id='authors'>
                    <p>{{authors}}</p>
                </div>
            {% if access_level >= access_from_string["CAN_EDIT"] %}
                <button onclick="show('authors_form');hide('authors_div');">Edit</button>
            </div>
            <div id='authors_form'>
                <input id="authors_input" type="text" name="authors" value="{{authors}}">
                <button class="submit" onclick="ajaxEditAuthors('{{route}}')">Change</button>
                <button class='cancel' onclick="show('authors_div');hide('authors_form')">Cancel</button>
            {% endif %}
            </div>
        </div>
    </div>
    
    <div id='comments_section'>
        <h3>Comments</h3>
        {% if access_level >= access_from_string["CAN_COMMENT"] %}
            <textarea id="new_comment" name="text" rows=3></textarea>
            <div class='comment_options'>
                <button class='submit' onclick="ajaxAddComment('{{route}}')">Post</button>
            </div>
        {% endif %}
        <div id='comments'>
        {% for comment in comments|reverse %}
        <!--<div class='comment' id="comment_{{comment.comment_id}}">
            <div>
                <img src='{{comment.user.profile_pic_url}}'></img><strong>{% if comment.user %}{{comment.user.name}}{% else %}unkown{% endif %}</strong>
                {% if site_access >= 1 %}
                    <button class='delete' onclick='ajaxRemoveComment("{{route}}","{{comment.comment_id}}")'>Remove Comment</button>
                {% endif %}
                <span>{{format_time_delta(current_time-comment.get_time_commented())}}</span>
            </div>
            <p>{{comment.text}}</p>
        </div>-->
        {% include "ajax_responses/comment.html" %}
        {% endfor %}
        </div>
        {% if comments|length == 0 %}
            <span>No Comments</span>
        {% endif %}
    </div>
    
    {% if access_level >= access_from_string["SUB_OWNER"] %}
    <div class="popup" id="sharing">
        <div class='cover' onclick="hide('sharing')"></div>
        <div class='popup_container'>
            <button class='cancel' onclick = "hide('sharing')">X</button>
            <h3>Sharing</h3>
            <h4>Basic</h4>
            <form action='{{route}}/simpleShare' method="POST">
                <select name='setting' id='setting'>
                    <option></option>
                    <option value='private' title='Only those who invite below can view.'>Private</option>
                    <option value='school' title='People with an account at your school can view.'>School</option>
                    <option value='public' title='Anyone can view.'>Public</option>
                </select>
                <button type='button' class='submit' onclick="ajaxSimpleShare('{{route}}')">Share</button>
            </form>
            <!--<h4>Link Sharing</h4>
            {% for share_link in share_links %}
                <p>{{url_for("invite",project_id_string=project.project_id, invite_string=share_link.url_string)}} grants: {{access_descriptions[share_link.access_level_granted]}}</p>
            {% endfor %}
            <form method="POST" action="{{route}}/createShareLink">
                <select name="access" required>
                    <option value="CAN_VIEW" selected>Can View</option>
                    <option value="CAN_COMMENT">Can Comment</option>
                    <option value="CAN_EDIT">Collaborator</option>
                    <option value="SUB_OWNER">Sub-Owner</option>
                </select><br>
                Limit Users?:
                <input type="checkbox" value="do_limit" name="do_limit"><br>
                User Limit:
                <input type="number" name="user_limit" min=0 value=20><br>
                Expirable?:
                <input type="checkbox" name="expirable" value="expirable"><br>
                Expires In:
                <input type="number" name="days" value=7 min=0 size=3> Days
                <input type="number" name="hours" value=0 min=0 max=23 size=3> Hours
                <input type="number" name="minutes" value=0 min=0 max=59 size=3> Minutes<br>
                <input type="submit" value="Create Link">
            </form>-->

            <h4>Specific User Sharing</h4>
            <div id="user_access_rows">
            {% for user_access in user_permissions %}
                <!--<div class='user_access' id="access_{{user_access.access_id}}">
                    <span><strong>{{user_access.user.name}}</strong> - {{access_descriptions[user_access.access_level]}}</span>
                    {% if access_level > user_access.access_level %}
                    <form method="POST" action="{{route}}/access" class='hidden' id='{{user_access.access_id}}-change-form'>
                        <input type='hidden' name='email' value='{{user_access.user.email}}'>
                        <select name="access_level" required>
                            {% for access_string in ["CAN_VIEW","CAN_COMMENT","CAN_EDIT","SUB_OWNER"] %}
                                {% if access_level > access_from_string[access_string] %}
                                <option value='{{access_string}}'>{{access_descriptions[access_from_string[access_string]]}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button type='button' onclick='show("{{user_access.access_id}}-change-button");hide("{{user_access.access_id}}-change-form")' class='cancel'>Cancel</button>
                        <button type='button' class="submit" onclick="ajaxAddAccess('{{route}}','{{user_access.access_id}}-change-form')">Change</button>
                    </form>
                        <div class='buttons' id='{{user_access.access_id}}-change-button'>
                            <button type='button' onclick='show("{{user_access.access_id}}-change-form");hide("{{user_access.access_id}}-change-button")'>Change Access</button>
                            <button type='button' class='delete' onclick="ajaxRemoveAccess('{{route}}','{{user_access.access_id}}')">Delete</button>
                        </div>
                    </form>
                    {% endif %}
                </div>-->
                {% include "ajax_responses/access_row.html" %}
            {% endfor %}
            </div>

            <form method="POST" action="{{route}}/access" id="add_access_form">
                Email: <input type="text" name="email" id="access_form_email" required>
                Access Level: <select name="access_level" required>
                    {% for access_string in ["CAN_VIEW","CAN_COMMENT","CAN_EDIT","SUB_OWNER"] %}
                        {% if access_level > access_from_string[access_string] %}
                        <option value='{{access_string}}'>{{access_descriptions[access_from_string[access_string]]}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button type="button" class="submit" onclick="ajaxAddAccess('{{route}}','add_access_form')">New User</button>
            </form>
        </div>
    </div>
    <button onclick="show('sharing')">Edit Sharing</button>
    {% endif %}

    <!--<script>resizeContent();</script>-->
{% endblock %}
