{% extends "base.html" %}

{% block title %}{{project.name}}{% endblock %}

{% block content %}
    <div class="projecttitle">
    <span id='project_name'>
    Project Name: {{project.name}}
    <button onclick="document.getElementById('project_name').style.display='none';document.getElementById('project_name_form').style.display='inline'">Edit</button>
    </span>
    <form method="POST" action="{{route}}/changeName" id='project_name_form' style="display: none">
        Project Name:
        <input type="text" name="name" value='{{project.name}}'>
        <input type="submit" value="Submit">
    </form>
    </div><div class='container'>
        <div class='left'>
            <div class="content">
                <img class="content" src="/static/2400x4800.png"></img>
            </div>
            <div class="comments">
                <p>Yeah this is really cool. 10/10.</p>
                <p>This could use some major imporovement, especially in the top left. Frankly I'm a little bit dissaplointed.</p>
                <p>Awesome!</p>
                <p>Where are the coordinates?</p>
            </div>
        </div><div class='right'>
            <div class="description">
                <p>So this is a picture of the mandelbrot set, at coordinates (insert coordinates here). I really like how it looks, what about you?</p>
            </div>
        </div>
    </div>
    <!--iframe src="/project/{{project.project_id}}/webgl"></iframe-->
{% endblock %}
