{% extends "base.html" %}

{% block title %}{{project.name}}{% endblock %}


{% block main_class %}project{% endblock %}
{% block main %}
    <div class="titlebar">
        <div class='centered'>
        <div id="project_title">
            <h1>{{project.name}}</h1>
            {% if access_level >= access_from_string["CAN_EDIT"] %}
            <button onclick="show('title_form');hide('project_title');">Edit</button>
            </div>
            <div id=title_form>
            <form method="POST" action="{{route}}/edit">
                <input type="text" name="title" value="{{project.name}}">
                <input type="submit" value="Change">
            </form>
            <button class='cancel' onclick="show('project_title');hide('title_form')">Cancel</button>
            {% endif %}
        </div>
        </div>
        
        <div id="thumbnail">
            <img class='thumbnail' src='{{project.thumbnail_route()}}'></img>
        {% if access_level >= access_from_string["CAN_EDIT"] %}
            <img class='thumbnail' id="thumbnail_button" src="/static/images/change_thumbnail.png" onclick="show('thumbnail_form');"></img>
        </div>
        <div id="thumbnail_form" class='popup'>
            <form method="POST" enctype="multipart/form-data" action="{{route}}/edit">
                <input type="file" name="thumbnail" accept="image/png, image/jpeg,image/gif"><br>
                <input type="submit" value="Change">
            </form>
            <button class='cancel' onclick="hide('thumbnail_form')">Cancel</button>
        {% endif %}
        </div>
        
    </div>
    
    
    <div class='container'>
    
        <div class='left' id='left'>
            <div id='content' class="content">
                {% block content %}
                {% endblock %}
                {% if access_level >= access_from_string["CAN_EDIT"] %}
                <div id="contentForm" class="popup">
                    <h3>Content</h3>
                    <h4>Webpage Content</h4>
                    <form method='POST' enctype=multipart/form-data action='{{upload_route}}'>
                        <select name='type' value='{{project.content_type}}' required>
                            <option value="game" selected>Game</option>
                        </select>
                        <!--input type='file' name='files' webkitdirectory mozdirectory-->
                        <input type='file' name='file' accept="application/zip" required>
                        <input type='submit' value="Upload">
                    </form>
                    <button class='cancel' onclick = "document.getElementById('contentForm').style.display='none';">Cancel</button>
                </div>
                <button onclick="document.getElementById('contentForm').style.display='block';">Upload Content</button>
                {% endif %}
            </div>
            <div class="downloads">
            <h4>{% if download | length ==0 %}No Downloads{% else %}Downloads{% endif %}</h4>
            <table>
            {% for filename, username, time in download_info%}
            <tr>
                <td>{{filename}}</td><td>{{username}}</td><td>{{time}}</td>
                <td><form action="/project/{{project.project_id}}/download" method="POST">
                    <input type="hidden" name="filename" value='{{filename}}'>
                    <input type="submit" value="Download">
                </form></td>
                <td><form action="/project/{{project.project_id}}/deleteDownload" method="POST">
                    <input type="hidden" name="filename" value='{{filename}}'>
                    <input type="submit" value="Delete">
                </form></td>
            </tr>
            {% endfor %}
            {% if access_level >= access_from_string["CAN_EDIT"] %}
            <tr rowspan=4>
            <form method='POST' enctype=multipart/form-data action='{{upload_route}}'>
                <h5>New Download</h5>
                <input type="hidden" name='type' value='downloadable' required>
                <!--input type='file' name='files' webkitdirectory mozdirectory-->
                <input type='file' name='file' required>
                <input type='text' name='filename'>
                <input type='submit' value="Upload">
            </form>
            </tr>
            {% endif %}
            </table>
            </div>
            
        </div><div class='right'>
            <h3>Description:</h3>
            <div class="description" id="description">
                <p>{{description}}</p>
                {% if access_level >= access_from_string["CAN_EDIT"] %}
                <button id="description_button" onclick="show('description_form');hide('description');">Edit</button>
            </div>
            <div id=description_form>
                <form method="POST" action="{{route}}/edit">
                    <textarea type="text" name="description" rows=10>{{description}}</textarea>
                    <input type="submit" value="Change">
                </form>
                <button class='cancel' onclick="show('description');hide('description_form')">Cancel</button>
                {% endif %}
            </div>
            <h3>Tags:</h3>
            <div class="tags" id="tags">
                {% for tag in tags_list %}
                    <p>{{tag}}</p>
                {% endfor %}
                {% if access_level >= access_from_string["CAN_EDIT"] %}
                <button id="tags_button" onclick="show('tags_form');hide('tags');">Edit</button>
            </div>
            <div id="tags_form">
                <form method="POST" action="{{route}}/edit">
                    <input type="text" name="tags" value="{{tags}}">
                    <input type="submit" value="Change">
                </form>
                <button class='cancel' onclick="show('tags');hide('tags_form')">Cancel</button>
                {% endif %}
            </div>
            <h3>Authors</h3>
            <div class="authors" id="authors">
                {{authors}}<br>
            {% if access_level >= access_from_string["CAN_EDIT"] %}
                <button onclick="show('authors_form');hide('authors');">Edit</button>
            </div>
            <div id=authors_form>
                <form method="POST" action="{{route}}/edit">
                    <input type="text" name="authors" value="{{authors}}">
                    <input type="submit" value="Change">
                </form>
                <button class='cancel' onclick="show('authors');hide('authors_form')">Cancel</button>
            {% endif %}
            </div>
        </div>
    </div>
    
    <div class="comments">
        <h3>Comments</h3>
        {% if access_level >= access_from_string["CAN_COMMENT"] %}
        <form id='comment' action='{{url_for("comment", project_id_string=project.project_id)}}' method='POST'>
            <textarea name="text" rows=3></textarea>
            <div class='comment_options'>
                <input type='submit' value='Post'>
            </div>
        </form>
        {% endif %}
        {% for comment in comments|reverse %}
        <div class='comment'>
            <div>
                <strong>{% if comment.user %}{{comment.user.username}}{% else %}unkown{% endif %}</strong>
                {% if site_access >= 1 %}
                <form action="{{route}}/deleteComment" method="POST">
                    <input type="hidden" name="comment_id" value='{{comment.comment_id}}'>
                    <input class='delete' type=submit value="Remove Comment">
                </form>
                {% endif %}
                <span>{{format_time_delta(current_time-comment.get_time_commented())}}</span>
            </div>
            <p>{{comment.text}}</p>
        </div>
        {% endfor %}
        {% if comments|length == 0 %}
            <span>No Comments</span>
        {% endif %}
    </div>
    
    {% if access_level >= access_from_string["SUB_OWNER"] %}
    <div class="popup" id="sharing">
    <div>
        <button class='cancel' onclick = "hide('sharing')">X</button>
        <h3>Sharing</h3>
        <h4>Basic</h4>
        <form action='{{route}}/simpleShare' method="POST">
            <select name='setting'>
                <option value='private'>Private</option>
                <option value='class'>Class View</option>
                <option value='public'>Public</option>
            </select>
            <input type='submit' value='Share'>
        </form>
        <h4>Link Sharing</h4>
        {% for share_link in share_links %}
            <p>{{url_for("invite",project_id_string=project.project_id, invite_string=share_link.url_string)}} grants: {{access_descriptions[share_link.access_level_granted]}}</p>
        {% endfor %}
        <form method="POST" action="{{route}}/createShareLink">
            <select name="access" required>
                <option value="CAN_VIEW" selected>Can View</option>
                <option value="CAN_COMMENT">Can Comment</option>
                <option value="CAN_EDIT">Collaborator</option>
                <option value="SUB_OWNER">Sub-Owner</option>
            </select><br>
            Limit Users?:
            <input type="checkbox" value="do_limit" name="do_limit"><br>
            User Limit:
            <input type="number" name="user_limit" min=0 value=20><br>
            Expirable?:
            <input type="checkbox" name="expirable" value="expirable"><br>
            Expires In:
            <input type="number" name="days" value=7 min=0 size=3> Days
            <input type="number" name="hours" value=0 min=0 max=23 size=3> Hours
            <input type="number" name="minutes" value=0 min=0 max=59 size=3> Minutes<br>
            <input type="submit" value="Create Link">
        </form>
        <h4>Specific User Sharing</h4>
        {% for user, user_access_level in access_pairs %}
        <div class='user_access'>
            <span><strong>{{user.username}}</strong> - {{access_descriptions[user_access_level]}}</span>
            {% if access_level > user_access_level %}
            <form method="POST" action="{{route}}/access">
                <div class='hidden' id='{{user.username}}-change-form'>
                    <input type='hidden' name='username' value='{{user.username}}'>
                    <select name="access_level" required>
                        {% for access_string in ["CAN_VIEW","CAN_COMMENT","CAN_EDIT","SUB_OWNER"] %}
                            {% if access_level > access_from_string[access_string] %}
                            <option value='{{access_string}}'>{{access_descriptions[access_from_string[access_string]]}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type='button' onclick='show("{{user.username}}-change-button");hide("{{user.username}}-change-form")' class='cancel'>Cancel</button>
                    <input type='submit' value='Change'>
                </div>
                <div id='{{user.username}}-change-button'>
                    <button type='button' onclick='show("{{user.username}}-change-form");hide("{{user.username}}-change-button")'>Change Access</button>
                    <input formaction='{{route}}/deleteAccess' type='submit' value='Delete' class='delete'></p>
                </div>
            </form>
            {% endif %}
        </div>
        {% endfor %}

        <form method="POST" action="{{route}}/access">
            Username: <input type="text" name="username">
            Access Level: <select name="access_level" required>
                {% for access_string in ["CAN_VIEW","CAN_COMMENT","CAN_EDIT","SUB_OWNER"] %}
                    {% if access_level > access_from_string[access_string] %}
                    <option value='{{access_string}}'>{{access_descriptions[access_from_string[access_string]]}}</option>
                    {% endif %}
                {% endfor %}
            </select><br>
            <input type="submit" value="New User">
        </form>
        <!--<h4>Default Access</h4>
        <form method="POST" action="{{route}}/defaultAccess">
            Currently {{access_descriptions[project.default_access]}}.<br>
            Access Level: <select name="default_access" required>
                <option value="NO_ACCESS">Invisible</option>
                <option value="CAN_VIEW">Can View</option>
                <option value="CAN_COMMENT">Can Comment</option>
                <option value="CAN_EDIT">Collaborator</option>
                <option value="SUB_OWNER">Sub-Owner</option>
            </select><br>
            <input type="submit" value="Change Default Access">
        </form>-->
        <button class='cancel' onclick = "hide('sharing')">Cancel</button>
    </div>
    </div>
    <button onclick="show('sharing')">Edit Sharing</button>
    {% endif %}
    
    
    <script src="/static/js/project.js"></script>
{% endblock %}

{% block resize %}
resizeContent();
{% endblock %}
